<div style="margin: 0%;">
  
<div class="app-body">
  
  <main class="main d-flex align-items-center" style="margin: 0%;">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              
                <!--"add(formulaire)"-->
<form >
  <label for="username">UserName</label>
  <input required id="username" type="text" ngModel name="username" class="form-control">
  
  <label for="password">Password</label>
  <input required id="password" type="text" ngModel name="password" class="form-control">
  
  <label for="age">email</label>
  <input required min="0" max="170" id="email" type="text" ngModel name="email" class="form-control">
  
  <label for="phonenumber">number</label>
  
  <input required id="phonenumber"  ngModel name="phonenumber" class="form-control">
 
  <li
  ><input type="button"   (click)="clicSurBouton()" value="click me" />>
  <div class="popup" onclick="myFunction()">Click me!
  
</div>
</li>
</form>
                
                
            </div>
            <div class="card-footer p-4">
              <div class="row">
                <div class="col-6">
                  <button class="btn btn-block btn-facebook" type="button"><span>facebook</span></button>
                </div>
                <div class="col-6">
                  <button class="btn btn-block btn-twitter" type="button"><span>twitter</span></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
